<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 admin-col">
			<div class="row col-xs-12 admin-col adminThemeNavbar">
				<a><span><img src="assets/images/angular.png" /> Admin
						Theme</span></a>
				<nav class="navbar navbar-static-top">
					<a><i class="fa fa-bars"></i></a>
					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav">
							<li>
								<a class="fa fa-envelope-o"></a>
							</li>
							<li><a class="fa fa-bell-o"></a></li>
							<li><a class="fa fa-flag-o"></a></li>
							<li><a><img [src]="userIcon" ><span>{{loginUser}}</span></a></li>
							<li><a class="fa fa-cogs"></a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-8"></div>
	</div>
	<div class="row"></div>
</div>